@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpAcc;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PeliculasWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*datatables*@
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />

    @*jqueryui*@
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PeliculasWeb.styles.css" asp-append-version="true" />

    @*fontawesome*@
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />



   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PeliculasWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Categorys" asp-action="Index">Categorias</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Peliculas" asp-action="Index">Peliculas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                            </li>
                        }
                       
                    </ul>

                    <ul class="navbar-nav">
                       
                        @if (httpAcc.HttpContext.Session.GetString("JWToken") != null && httpAcc.HttpContext.Session.GetString("JWToken").ToString().Length > 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Logout">Salir</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Login">Acceder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Register">Registrarse</a>
                            </li>
                        }
                    </ul>

                    
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid  p-0 m-0">
       <img  src="~/imagen/banner-peliculas-api.jpg" class="img-fluid"/>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PeliculasWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*datatables*@
    <script src="~/lib/datatables/datatables.min.js" asp-append-version="true"></script>

    @*jqueryui*@
    <script src="~/lib/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>

    @*sweetalert2*@
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js" asp-append-version="true"></script>
 
 
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>

    function toastMessage(type, message) {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });

        Toast.fire({
            icon: type,
            title: message
        });
    }

    function toastMessageCancel() {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire(
            'Cancelado',
            'Tu registro está a salvo :)!',
            'error'
        )
    }

    function Delete(url) {
        console.log('Prueba Eliminar');
        console.log(url);
        Swal.fire({
            title: '¿Confirmar Eliminacion?',
            text: "No podrás revertir esto.!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Si, Eliminar!',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: url,
                    method: 'DELETE',
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            toastMessage('success', data.message);
                            dataTable.ajax.reload();
                        }
                        else {
                            toastMessage('error', data.message);
                        }
                    }

                });
            }
        });

    }
   
</script>
